@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;
}

:root {
    font-family: var(--font-sans);
    background-color: #0f172a;
    /* Slate 900 */
    color: #f8fafc;
    /* Slate 50 */
}

body {
    margin: 0;
    min-height: 100vh;
}